<%- include('./../partials/header') %>
<h1>Your Blogs</h1>
<hr />
<br />
<br />
<% if(blogs.length > 0 ){ %> <% blogs.forEach((blog) =>{ %>
<div class="blog_card_container">
  <img class="blog_img" src="<%= blog.image %>" alt="BlogImage" />
  <div class="blog">
    <div>
      <div class="blog_details">
        <!-- <p><%= blog.email %></p> -->
        <p class="blog_date"><%= blog.updatedAt.toLocaleString() %></p>
      </div>
      <div>
        <h2 class="blog_title"><%= blog.title %></h2>
        <!-- </div> -->
        <!-- <div> -->
        <p class="blog_description">
          <%= blog.description.substring(0, 200) + '...' %>
        </p>
      </div>
    </div>
    <div class="blog_card_bottom">
      <div class="more">
        <a href="/blogs/<%= blog._id %>">Continue Reading</a>
      </div>
      <div class="more">
        <a href="/admin/edit-blog/<%= blog._id %>">Edit</a>
      </div>
    </div>
  </div>
</div>

<% }) %> <% }else{ %>
<h2>You don't have any blogs</h2>
<% } %>

<!-- <script>
const edit_blog = (id) =>{
  console.log(id);
  
}
</script> -->
<%- include('./../partials/footer') %>
