<%- include('./../partials/header') %>

  <div class="full_blog_container bg-body-secondary">
    <div>
      <div class="blog_details">
        <p class="blog_date">
          <%= blog.updatedAt.toLocaleString() %>
        </p>
      </div>

      <div class="mb-3 edit-blog-image">
        <input class="form-control" name="file1" accept="image/*" type="file">
        <img class="blog_img" src="<%= blog.image %>" alt="BlogImage" />
      </div>

    </div>

    <hr>
    <div class="blog">
      <div>
        <h2 style="display: inline-block;" contenteditable="false" class="blog_title">
          <%= blog.title %>
        </h2>
        <button class="btn btn-secondary mx-2" onclick="edit_title()">Edit Title</button>
      </div>
    </div>
    <hr>
    <div>
      <p contenteditable="false" class="blog_description">
        <%= blog.description %>
      </p>
      <button class="btn btn-secondary" onclick="edit_desc()">Edit Description</button>
    </div>
    <hr>
    <div>
      <button class="btn btn-primary w-100 my-2" id="submit">Submit</button>
    </div>
    <div>
      <button class="btn btn-danger w-100 my-2" onclick="delete_blog()">Delete Blog</button>
    </div>
  </div>

  <script>
    const title = document.querySelector(`.blog_title`);
    const description = document.querySelector(`.blog_description`);
    const image = document.querySelector(".blog_img");
    const image_input = document.querySelector('input[name=file1]');

    // Preview Image 
    image_input.addEventListener('change', function (event) {
      const file = event.target.files[0];

      if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
          image.src = e.target.result;
        };

        reader.readAsDataURL(file);
      }
    });

    const edit_title = () => {
      title.setAttribute("contenteditable", "true");
      title.focus();
    };

    const edit_desc = () => {
      description.setAttribute("contenteditable", "true");
      description.focus();
    };

    document.getElementById('submit').addEventListener("click", function (event) {
      event.target.disabled = true;
      event.target.textContent = "Loading...";

      img = image_input.files[0];

      const formData = new FormData();
      formData.append("img", img);
      formData.append("title", title.textContent);
      formData.append("description", description.textContent);

      //  Iterate over the FormData entries and log them
      // formData.forEach((value, key) => {
      //   console.log(`${key}:`, value);
      // });

      fetch("/admin/edit-blog/<%= blog._id %>", {
        method: "PATCH",
        body: formData,
      })
        .then(async (resp) => {
          const res = await resp.json();
          if (res.status === "success") {
            // console.log(res.blog);
            event.target.disabled = false;
            event.target.textContent = "Submit";
            location.assign("/admin/blogs");
          }
        })
        .catch((err) => {
          console.log(err);
        });
    });


    const delete_blog = () => {
      fetch("/admin/delete-blog/<%= blog._id %>", {
        method: "DELETE",
      })
        .then(async (resp) => {
          const res = await resp.json();
          if (res.status === "success") {
            console.log(res.blog);
            location.assign("/admin/blogs");
          }
        })
        .catch((err) => {
          console.log(err);
        });
    };
  </script>

  <%- include('./../partials/footer') %>