<%- include('./../partials/header') %>

<div class="p-5 text-center bg-body-tertiary rounded-3">
  <h1 class="text-body-emphasis">Hello,</h1>
  <h1><%= firstname + ' '+ lastname %></h1>
</div>
<div class="container">
  <h3 class="display-4">Account Details:</h3>


  <form id="profile_update_form" class="row">
    <!-- <p class="profile_field"><strong>Username : </strong><%= username %></p> -->
    <div class="mb-3">
      <lable for="firstname" class="form-label"><strong>First Name : </strong></lable>
      <input class="form-control" type="text" value="<%= firstname %>" name="firstname" disabled />
      <button id="firstname" type="button" class="btn btn-secondary m-2" onclick="unlock(this.id)">Edit</button>
      <div class="firstname error"></div>
    </div>
    <div class="mb-3">
      <lable for="lastname" class="form-label"><strong>Last Name : </strong></lable>
      <input class="form-control" type="text" value="<%= lastname %>" name="lastname" disabled />
      <button id="lastname" type="button" class="btn btn-secondary m-2" onclick="unlock(this.id)">Edit</button>
      <div class="lastname error"></div>
    </div>
    <div class="mb-3">
      <lable for="username" class="form-label"><strong>Username : </strong></lable>
      <input class="form-control" type="text" value="<%= username %>" name="username" disabled />
      <button id="username" type="button" class="btn btn-secondary m-2" onclick="unlock(this.id)">Edit</button>
      <div class="username error"></div>
    </div>
    <div class="mb-3">
      <lable for="phone" class="form-label"><strong>Phone : </strong></lable>
      <input class="form-control" type="number" value="<%= phone %>" name="phone" disabled />
      <button id="phone" type="button" class="btn btn-secondary m-2" onclick="unlock(this.id)">Edit</button>
      <div class="phone error"></div>
    </div>
    <div class="mb-3">
      <lable for="email" class="form-label"><strong>Email : </strong></lable>
      <input class="form-control" type="email" value="<%= email %>" name="email" disabled />
      <button id="email" type="button" class="btn btn-secondary m-2" onclick="unlock(this.id)">Edit</button>
      <div class="email error"></div>
    </div>
    

    <p class="profile_field">
      <strong>Account created on :</strong><%=
      createdAt.toLocaleDateString('en-GB') + ' ' +
      createdAt.toLocaleTimeString('en-US', {hour12: false}); %>
    </p>
    <p class="profile_field">
      <strong>Last update :</strong><%= updatedAt.toLocaleDateString('en-GB') +
      '' + updatedAt.toLocaleTimeString('en-US', {hour12: false}); %>
    </p>
    <button id="profile_update" type="submit" class="btn btn-primary w-100" form="profile_update_form" disabled>Update</button>
  </form>
</div>
<a href="/admin/logout" class="btn btn-primary w-100 my-3">Logout</a>

<script>

const form = document.getElementById('profile_update_form');

  const firstnameError = document.querySelector('.firstname.error');
  const usernameError = document.querySelector('.username.error');
  const emailError = document.querySelector('.email.error');
  const lastnameError = document.querySelector('.lastname.error');
  const phoneError = document.querySelector('.phone.error');

  const submitButton = document.querySelector('#profile_update');
  
  const unlock = (id) => {
    // console.log(id);
    is_edited = true;
    document.querySelector(`input[name=${id}]`).disabled= false;
    submitButton.disabled = false;
    console.log("clicked");
  };

  const remove_phone = async () =>{
    const response = await fetch('/admin/remove-phone',{
      method:'DELETE',
      headers: {
        'Content-Type':'application/json'
      }
    });
    const res = await response.json();
    if(res.status === 'success'){
      location.assign('/admin');
    }else{
      phoneError.textContent = "Something's wrong. please try again letter";
    }
  }

  
  form.addEventListener('submit', async (e)=>{
    e.preventDefault();

    firstnameError.textContent = "";
    lastnameError.textContent = "";
    usernameError.textContent = "";
    phoneError.textContent = "";
    emailError.textContent = "";

    submitButton.disabled = true;
    submitButton.textContent = "Loading...";

    const phone  = document.querySelector(`input[name=phone]`).value;
    const data = {
      firstname: document.querySelector(`input[name=firstname]`).value,
      lastname: document.querySelector(`input[name=lastname]`).value,
      username: document.querySelector(`input[name=username]`).value,
      email: document.querySelector(`input[name=email]`).value,
    }

    if(phone !== ''){
      data.phone = phone;
    }
    
    console.log(data);
    const response = await fetch('/admin/update', {
      method:'PATCH',
      body:JSON.stringify(data),
      headers:{'Content-Type': 'application/json'}
    });
    const res = await response.json();
    console.log(res);
    if(res.status === 'success'){
      console.log(res.user);
      console.log("data updated");
      location.reload();
    }else{
      if(res.errors){
        const keys = Object.keys(res.errors);
        keys.forEach((key)=>{
          document.querySelector(`.${key}.error`).textContent = res.errors[key];
        })
      }
      console.log("data updation failed");
    }
  })
  // console.log(form)

</script>
<%- include('./../partials/footer') %>
