<%- include('./../partials/header') %> 

<div>
  <br />
  <h1>Hello, <%= firstname + ' '+ lastname %></h1>
  <h3>Account Details:</h3>
  <p><strong>Username : </strong><%= username %></p>
  <p><strong>Email :</strong><%= email %></p>
  <p>
    <strong>Account created on :</strong><%=
    createdAt.toLocaleDateString('en-GB') + ' ' +
    createdAt.toLocaleTimeString('en-US', {hour12: false}); %>
  </p>
  <p>
    <strong>Last update :</strong><%= updatedAt.toLocaleDateString('en-GB') + ''
    + updatedAt.toLocaleTimeString('en-US', {hour12: false}); %>
  </p>
  <br />
</div>
<a href="/admin/logout">Logout</a>

<%- include('./../partials/footer') %>
