<%- include('./../partials/header') %>

<div class="profile_container">
  <h1>Hello, <%= firstname + ' '+ lastname %></h1>
  <h3 class="profile_field">Account Details:</h3>

  <form id="profile_update_form">
    <!-- <p class="profile_field"><strong>Username : </strong><%= username %></p> -->
    <p class="profile_field">
      <strong>First Name : </strong
      ><input type="text" name="firstname" value="<%= firstname %>" disabled />
      <button id="firstname" type="button" onclick="unlock(this.id)">Edit</button>
    </p>
    <p class="profile_field">
      <strong>Last Name : </strong
      ><input type="text" name="lastname" value="<%= lastname %>" disabled />
      <button id="lastname" type="button" onclick="unlock(this.id)">Edit</button>

    </p>
    <p class="profile_field">
      <strong>Username : </strong
      ><input type="text" name="username" value="<%= username %>" disabled />
      <button id="username" type="button" onclick="unlock(this.id)">Edit</button>

    </p>
    <p class="profile_field">
      <strong>Phone : </strong
      ><input type="text" name="phone" value="<%= phone %>" disabled />
      <button id="phone" type="button" onclick="unlock(this.id)">Edit</button>

    </p>
    <p class="profile_field">
      <strong>Email :</strong
      ><input type="text" name="email" value="<%= email %>" disabled />
      <button id="email" type="button" onclick="unlock(this.id)">Edit</button>

    </p>
    <p class="profile_field">
      <strong>Account created on :</strong><%=
      createdAt.toLocaleDateString('en-GB') + ' ' +
      createdAt.toLocaleTimeString('en-US', {hour12: false}); %>
    </p>
    <p class="profile_field">
      <strong>Last update :</strong><%= updatedAt.toLocaleDateString('en-GB') +
      '' + updatedAt.toLocaleTimeString('en-US', {hour12: false}); %>
    </p>
    <button id="profile_update" type="submit" form="profile_update_form" disabled>Update</button>
  </form>
</div>
<a href="/admin/logout">Logout</a>

<script>
  // const firstname = document.getElementsByName('firstname');
  // let is_edited = false;
  const unlock = (id) => {
    console.log(id);
    is_edited = true;
    document.querySelector(`input[name=${id}]`).disabled= false;
    document.querySelector('#profile_update').disabled = false;
    console.log("clicked");
  };

  const form = document.getElementById('profile_update_form');
  form.addEventListener('submit', async (e)=>{
    e.preventDefault();
    const data = {
      firstname: document.querySelector(`input[name=firstname]`).value,
      lastname: document.querySelector(`input[name=lastname]`).value,
      username: document.querySelector(`input[name=username]`).value,
      email: document.querySelector(`input[name=email]`).value,
      phone: document.querySelector(`input[name=phone]`).value
    }
    console.log(data);
    const response = await fetch('/admin/update', {
      method:'PATCH',
      body:JSON.stringify(data),
      headers:{'Content-Type': 'application/json'}
    });
    const res = await response.json();
    console.log(res);
    if(res.status === 'success'){
      console.log(res.user);
      console.log("data updated");
      location.assign('/admin');
    }else{
      console.log("data updation failed");
    }
  })
  // console.log(form)

</script>
<%- include('./../partials/footer') %>
