<%- include('partials/header') %>

  <div class="full_blog_container">
    <div class="full_blog_header">
      <img class="blog_img" src="<%= blog.image %>" alt="BlogImage" />
      <div class="blog">
        <div class="blog_details">
          <!-- <p><%= blog.email %></p> -->
          <p class="blog_date ">
            <%= blog.updatedAt.toLocaleString() %>
          </p>
        </div>
        <h2 class="blog_title">
          <%= blog.title %>
        </h2>
      </div>
    </div>
    <p class="blog_description">
      <%= blog.description %>
    </p>
  </div>
  <section class="comment-section">
    <form>
      <textarea name="comment" rows="5" cols="30"></textarea>
      <button type="submit">Comment</button>
    </form>
  </section>

  <% comments.forEach((comment)=>{ %>
    <div>
      <div>
        <%= comment.firstname + ' ' + comment.lastname %>
      </div>
      <div>
        <%= comment.comment %>
      </div>
      <div>
        <%= comment.createdAt %>
      </div>
      <% if(blog.this_user_id==comment.user_id){ %>
        <form method="DELETE">
          <input type="hidden" name="comment_id" value="<%= comment.comment_id %>">
          <button type="submit">Delete</button>
        </form>
        <% } %>

    </div>
    <hr />
    <% }) %>

      <script>
        const form = document.querySelector("section form");

        const DeleteForms = document.querySelectorAll('form[method=DELETE]');

        DeleteForms.forEach(form => {
          form.addEventListener("submit", async function (event) {
            event.preventDefault();

            const DeleteButton = form.querySelector('button')
            DeleteButton.disabled = true;
            DeleteButton.textContent = "Loading";


            const comment_id = form.comment_id.value;

            fetch("/admin/delete-comment/", {
              method: "DELETE",
              body: JSON.stringify({ comment_id }),
              headers: {
                "Content-Type": "application/json",
              },
            }).then(async (resp) => {
              const res = await resp.json();
              if (res.status == "success") {
                console.log("comment deleted succefully");
                location.reload();
              }
            }).catch((err) => {
              console.log(err);
            })
          }
          )

        })

        form.addEventListener("submit", function (e) {
          e.preventDefault();
          const comment = form.comment.value;

          const commentButton = form.querySelector('button');
          commentButton.disabled = true;
          commentButton.textContent = "Loading...";

          data = {
            comment: comment,
          }

          fetch("/admin/comment/<%= blog._id %>", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then(async (resp) => {
              const res = await resp.json();
              if (res.status === "success") {
                console.log("comment posted successfully");
                location.reload();
              }
            })
            .catch((err) => {
              console.log(err);
            });
        })
      </script>

      <%- include('partials/footer') %>